* {
    box-sizing: border-box;
}

body {
    text-align: left;
    margin-top: 30px;
    color: #4d4d4d;
}

.nav, h1, h2, h3, footer, button {
    font-family: 'Lora', serif;  
}
h3, h2 {
    margin: 2% 0;
}
h2 {
    color: #1a1a1a;
}
p {
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}
.nav a {
    color: #1a1a1a;
    text-decoration: none;
}
.nav a:hover {
    color: #1a1a1a;
    text-decoration-line: underline;
    /* text-decoration-color: aqua; */
    transition: 0.2s;
}
.main {
    padding-right: 15%;
    padding-left: 15%;
}
.portfolio,
.bio,
.contact {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: .75%;
}

footer {
    background-color: #cccccc;
    padding: 2% 0;
    text-align: left;
    padding-left: 10%;
    font-size: 12px;
}

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    text-align: right;
}

/*nav .hamburger {
    padding-right: 5%;
    vertical-align: middle;
    text-align: right;
    padding-bottom: inherit;
}*/

header {
    padding: 20% 10%;
    color: #1a1a1a;
}
.header {
    background-image: url("images/iceland-background");
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    padding: 5% 0;
    background-color: whitesmoke;
}

#portfolio-listing #listing-pic {
    justify-content: center;
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
    padding-top: 10%;
}

#listing-pic-m {
    justify-content: center;
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
    padding-top: 0;
}

.skills img {
    justify-content: center;
    height: 30px;
    padding: 0;
}

.contact img {
    width: 35px;
    padding-right: 10px;
    display: inline-block;
}

a {
    text-align: center;
}

li {
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-right: 2%;
}

#portfolio-listing button {
    background-color: white;
    min-width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 1%;
    /* border: 2px white solid; */
}
#portfolio-listing button:hover {
    border: 1px #1a1a1a solid;
    background-color: #1a1a1a;
    color: white;
    transition: 0.5s;
}
#code-buttons {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}

#portfolio-listing {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 736px) {
    .portfolio p {
        font-size: 14px;
        line-height: 20px;
    }
    #portfolio-listing > #listing-pic, #portfolio-listing > #listing-pic-m {
        padding-right: 5%;
        padding-left: 5%;
        /* width: 90%; */
    }
    .main {
        padding-right: 3%;
        padding-left: 3%;
    }
    header {
        padding: 3% 5% 37% 5%;
        text-align: center;
        font-size: smaller;
    }
    h1 {
        margin-bottom: 0;
    }
    .portfolio,
    .bio,
    .contact {
        padding-left: 0%;
        padding-right: 0%;
    }
    /*nav li {
        display: none;
    }*/

    h1,
    h2,
    h3,
    p,
    a {
        padding-right: 3%;
        padding-left: 3%;
    }
     
    .link {
        display: inline-block;
        justify-content: center;
        padding-right: 5%;
    }
    /*nav .hamburger {
        padding-right: 5%;
        vertical-align: middle;
        text-align: right;
        padding-bottom: inherit;
    }*/
    nav {
        font-size: 16px;
    }
    .hamburger {
        display: none;
    }
    .skills img {
        justify-content: center;
        height: 20px;
        padding: 0;
    }
}

@media screen and (min-width: 736px) {
    .hamburger {
        display: none;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 38px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
        line-height: 27px;
    }
    nav {
        font-size: 21px;
    }
    .portfolio p {
        font-size: 18px;
        line-height: 23px;
    }
}