* {
    box-sizing: border-box;
}

body {
    text-align: left;
    margin-top: 30px;
}

.nav, h1, h2, h3, footer {
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
.portfolio,
.bio,
.contact {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: .75%;
}

footer {
    background-color: #cccccc;
    padding: 2% 0;
    text-align: left;
    padding-left: 10%;
    font-size: 12px;
}

nav {
    background-color: #cccccc;
    padding-top: 2%;
    padding-bottom: 2%;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    text-align: right;
}

nav .hamburger {
    padding-right: 5%;
    vertical-align: middle;
    text-align: right;
    padding-bottom: inherit;
}

header {
    padding: 20% 10%;
}

section {
    padding: 5% 0;
    background-color: whitesmoke;
}
/*
section:nth-child(odd) {
    background-color:#d9d9d9;
}
*/
.portfolio-1 img {
    justify-content: center;
    display: flex;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
}

.contact img {
    width: 35px;
    padding-right: 10px;
    display: inline-block;
}
.portfolio p,
.portfolio h3 {
    padding-left: 10%;
    padding-right: 10%;
}

a {
    text-align: center;
}

li {
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-right: 2%;
}

p {
    line-height: 25px;
}
@media screen and (max-width: 736px) {
    .portfolio p {
        font-size: 14px;
        line-height: 20px;
    }

    nav li {
        display: none;
    }

    h1,
    h2,
    h3,
    p {
        padding-right: 3%;
        padding-left: 3%;
    }
    
    .link {
        display: inline-block;
        justify-content: center;
        padding-right: 5%;
    }
    nav .hamburger {
        padding-right: 5%;
        vertical-align: middle;
        text-align: right;
        padding-bottom: inherit;
    }

}
@media screen and (min-width: 736px) {
    .hamburger {
        display: none;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 38px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
        line-height: 27px;
    }
    nav {
        font-size: 21px;
    }
    .portfolio p {
        font-size: 18px;
        line-height: 23px;
    }
}