* {
    box-sizing: border-box;
}

body {
    text-align: left;
    /* margin-top: 30px; */
    color: #4d4d4d;
}

.nav, h1, h2, h3, footer, button, h4, .skills  {
    font-family: 'Quicksand', sans-serif;  
}

h3, h2 {
    margin: 2% 0;
}

h2 {
    color: #1a1a1a;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}

.nav a {
    color: #4d4d4d;
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    /* color: #1a1a1a; */
    color: #4d4d4d;
    /* text-decoration-line: underline; */
    border-bottom: 1px solid #4d4d4d;;
    transition: 0.2s;
}

.main {
    padding: 0 5%;
}

.portfolio,
.about,
.contact,
.main-skills {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: .75%;
}

footer {
    background-color: #cccccc;
    padding: 1% 0;
    text-align: center;
    /* padding-left: 10%; */
    /* font-size: 12px; */
}

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    text-align: right;
}

.nav p,
.name {
    font-family: 'Covered By Your Grace', cursive;
    /* font-family: 'Shadows Into Light', cursive; */
    font-size: 2.2em;
    line-height: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    /* margin: 5px 0; */
    padding: 0 2%;
}

/*nav .hamburger {
    padding-right: 5%;
    vertical-align: middle;
    text-align: right;
    padding-bottom: inherit;
}*/

header {
    padding: 5% 10% 20% 10%;
    color: #1a1a1a;
    text-align: center;
}

.header {
    background: rgba(0, 0, 0, 0) url("images/iceland-background-2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
}

.header:before {
    content: "";
    background: rgba(0, 0, 0, 0) url("images/iceland-background-2.jpg") no-repeat center center fixed transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
}


section {
    padding: 5% 0;
}

#portfolio-listing #listing-pic {
    justify-content: center;
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
}

#listing-pic-m {
    justify-content: center;
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
    padding-top: 0;
}

.skills img {
    justify-content: center;
    height: 30px;
    padding: 0;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 30%;
    /* justify-content: center; */
}

.links a {
    color: #B57BA6;
    font-size: 4em;
    margin: 0 5%;
}

a {
    text-align: center;
}

li {
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-right: 2%;
}

#portfolio-listing button {
    /* background-color: white; */
    background-color: #3485E2;
    /* color: #3485E2; */
    color: white;
    font-size: 1.2em;
    width: 175px;
    padding: 10px 0;
    border: none;
    border-radius: 3px;
    margin-bottom: 1%;
}

/* .fa-angle-double-right {
    font-size: 1.1em;
} */

/* #portfolio-listing button:hover {
    cursor: pointer;
    border: 1px #1a1a1a solid;
    background-color: #1a1a1a;
    color: white;
    transition: 0.5s;
} */

#portfolio-listing button:hover {
    cursor: pointer;
    /* color: white; */
    /* color: #73B6FF; */
    background-color: #1961b3;
    /* text-decoration: underline; */
    transition: 0.2s;
}

#code-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#portfolio-listing {
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    /* padding: 3%; */
    /* width: 50%; */
}

.listing-info {
    padding: 0 3%;
}

#portfolio-listing h3 {
    text-align: center;
    color: white;
    background-color: #B57BA6;
    margin-top: 0;
    padding: 1% 0;
}

#portfolio-listing h4 {
    text-align: center;
}

.landing-page-2,
#code-buttons {
    /* text-align: center; */
    border-bottom: 1px solid lightgrey;
    padding-bottom: 3%;
    width: 100%
}

.skills,
.main-skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-evenly;
    /* text-align: center; */
    margin-bottom: 4%;
}

.skill-item,
.main-skill-item {
    display: block;
    text-align: center;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* align-items: space-between; */
    padding: 1% 3%;
    /* width: 15%; */
}

.skill-item p,
.main-skill-item p {
    margin: 0;
}

.main-skills-container,
.main-skills {
    background-color: #E6E6E6;
    margin: 0 5%;
    /* border: 1px solid #cccccc; */
}

.main-skill-item img {
    height: 50px;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #4d4d4d;;
    z-index: 1;
    right: 0;
    margin: 0 2%;
}

.hamburger:hover .dropdown {
    /* cursor: pointer; */
    display: block;
}

.dropdown a {
    /* background-color: aqua; */
    /* color: #B57BA6; */
    color: #4D4D4D;
    font-size: .9em;
    display: block;
}

.dropbtn {
    /* font-size: 16px;   */
    border: none;
    outline: none;
    /* color: white; */
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
@media screen and (max-width: 736px) {
    #code-buttons {
        flex-direction: row;
    }
    #portfolio-listing button {
        /* display: block; */
        width: 100px;
    }

    #portfolio-listing > #listing-pic, 
    #portfolio-listing > #listing-pic-m {
        padding-right: 5%;
        padding-left: 5%;
        /* width: 90%; */
    }
    .main {
        padding-right: 3%;
        padding-left: 3%;
    }
    header {
        padding: 10% 5% 30% 5%;
        text-align: center;
    }
    h1 {
        margin-bottom: 0;
        font-size: 3em;
    }
    .portfolio,
    .about,
    .contact,
    .main-skills {
        padding-left: 0%;
        padding-right: 0%;
    } 
    .link {
        display: inline-block;
        justify-content: center;
        padding-right: 5%;
    }
    nav a {
        display: none;
    }
    .hamburger {
        color: black;
        padding: 0 2%;
        vertical-align: middle;
        font-size: 1.5em;
    }
    .name {
        display: inline;
    }
    nav {
        font-size: 16px;
    }
    .skills p {
        font-size: .9em;
    }
    .skills img {
        height: 25px;
    }
    #portfolio-listing button {
        font-size: 1.1em;
        width: 175px;
    }
    #code-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-evenly;
    }
    .main-skills-container,
    .main-skills {
        background-color: #E6E6E6;
        margin: 0;
        /* border: 1px solid #cccccc; */
    }
    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 10%;
    }
}

@media screen and (min-width: 736px) {
    .hamburger {
        display: none;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.4em;
    }
    p {
        font-size: 1.1em;
        line-height: 1.75em;
    }
    nav {
        font-size: 1.1em;
    }
    .portfolio p {
        font-size: 1.1em;
        line-height: 1.5em;
    }
    .portfolio h4 {
        font-size: 1.2em;
    }
    #portfolio-listing {
        margin-bottom: 5%;
    }
}