@media print {
    /*
    @page {
    size: 210mm 297mm;
    margin: 10mm;
}
    */
    body {
        width: 1200px!important;
        /* color: #4d4d4d; */
        background: #fff;
    }
    .header,
    body:after,
    .main-skills-container,
    .main-skills,
    .portfolio-listing h3,
    footer {
        background: none;
        /* background-color: #fff; */
    }
    .portfolio-listing h3 {
        color: #4D4D4D;
    }
    /* div[class|=col-] {
        float: left!important;
    } */
    a[href]:after {
        content: ""!important;
    }
    .show-web-only {
        display: none !important;
    }
    .show-print-only {
        display: block !important;
    }
    /* .main-skills {
        page-break-after: always;
    } */
    #portfolio-listing-4 {
        page-break-before: always;
        margin-top: 25px;
    }
    .header {
        display: inline;
        font-size: 2.3em;
    }
    .name {
        padding-left: 8.5%;
    }
    .right-header {
        font-size: .65em;
        margin-right: 10%;
        float: right;
    }
    .right-header p {
        margin: 7px 0 7px 0;
        text-align: left;
    }
    .about {
        margin-top: 7%;
    }
    h2 {
        font-size: 2.2em;
    }
    h3 {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        /* display: inline; */
    }
    .main-skill-item img {
        height: 70px;
    }
    .portfolio-listing {
        border: none;
        padding-bottom: 1%;
        margin-bottom: 2%;
    }
    .listing-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid lightgrey;
        height: 400px;
        padding-bottom: 2%;
        /* margin-bottom: 1.5%; */
    }
    .portfolio-listing .listing-pic {
        justify-content: left;
        width: 50%;
        padding-right: 0%;
        padding-left: 0%;
    }
    #portfolio-listing-1 {
        height: 350px;
    }
    .desc,
    .code-buttons,
    .listing-info .skills
    {
        width: 100%;
        padding: 0 5%;
        border: none;
        /* float: right; */
    }
    .desc,
    .code-buttons p {
        padding-bottom: 1.5%;
    }
    .list-info {
        /* display: inline; */
        width: 50%;
    }
    .code-buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 5%;
        margin: 0;
        /* width: 50%; */
    }
    .code-buttons p {
        margin-top: 0;
        margin-bottom: 0;
    }
    .listing-info p {
        margin-top: 0;
        margin-bottom: 0;
    }
    .code-link {
        font-size: 1em;
    }
    footer {
        font-size: 1.2em;
    }
    /*
    .projects-container {
        margin-top: 10rem;
    }
*/
}